.footer{
	background-color: $primary;
  font-family: "Noto Sans", sans-serif;
}
.box-a{
	padding-top: 60px;
	border-bottom:1px solid #FFFFFF;
	justify-content: space-between;
	align-items: flex-start;
}
.social-img{
	width: 48px;
}
.social-list{
	margin-left: auto;
  &-link{
    padding-left: 32px;
  }
}
.section-list{
	align-items: center;
  a:hover{
    color: $secondary;
  }
  &-link{
    display: inline-block;
	  text-decoration: none;
	  color: #FFFFFF;
	  font-size: 16px;
	  padding-right: 48px;
  }
  &-item:last-child .section-list-link{
    padding-right: 0px;
  }
}
.box-b{
	padding-top: 36px;
	padding-bottom: 32px;
}
.phone{
	align-items: center;
  &-number{
    font-size: 36px;
	  color: #FFFFFF;
	  padding-left: 22px;
	  text-decoration: none;
  }
  &-img{
    width: 36px;
  }
}
.email{
	align-items: center;
  &-img{
    width: 36px;
  }
  &-address{
    font-size: 36px;
	  color: #FFFFFF;
	  padding-left: 22px;
	  text-decoration: none;
  }
}
.box-c{
	padding-top: 32px;
	padding-bottom: 32px;
}
.copyright{
	color: #FFFFFF;
	font-size: 16px;
  &-list{
    margin-left: auto;
  }
  &-list-link{
    text-decoration: none;
	  color: #FFFFFF;
	  font-size: 14px;
	  padding-left: 48px;
  }
}
@media (max-width:767px){
	.section-box{
		display: none;
	}
	.social-img{
		width: 40px;
	}
	.box-a{
		padding-top: 56px;
		justify-content: space-between;
	}
	.box-b{
		padding-top: 0px;
		padding-bottom: 32px;
	}
}
@media (max-width:600px){
	.social-img{
		width: 24px;
	}
	.social-list-link{
		padding-left: 8px;
	}
	.phone-number{
		font-size: 16px;
		padding-left: 11px;
	}
	.phone-img{
		width: 18px;
	}
	.email-img{
		width: 20px;
	}
	.email-address{
		font-size: 16px;
		padding-left: 10px;
	}
	.box-c{
		flex-direction: column;
		align-items: flex-start;
	}
	.copyright-list{
		flex-direction: column;
		align-items: flex-start;
		margin-left: -48px;
	}
	.copyright-list-item{
		text-align: left;
		padding-top: 8px;
	}
}