<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
      <div class="navbar">
        <div class="container navbar-container container-md container-sm">
          <ul class="navbar-list d-flex">
            <li class="navbar-list-item"><a class="navbar-list-link navbar-list-active" href="products.html">OPTICAL</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link" href="sunglasses.html">SUNGLASSES</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link" href="#">FUNCTIONAL</a></li>
          </ul>
        </div>
      </div>
      <div class="banner d-flex">
        <ul class="banner-list d-flex">
          <li class="banner-list-item">
            <picture>
              <source srcset="../assets/images/product-header-sm-1.png" media="(max-width:767px)">
              <img src="../assets/images/product-header-1.png" alt="" class="banner-list-pic"></li>
            </picture>
          <li class="banner-list-item">
            <picture>
              <source srcset="../assets/images/product-header-sm-2.png" media="(max-width:767px)">
              <img src="../assets/images/product-header-2.png" alt="" class="banner-list-pic"></li>
            </picture>   
        </ul>
      </div>
      <div class="section">
        <div class="container section-container container-md container-sm">
          <h1 class="section-title-en">Celluloid Combi</h1>
          <h2 class="section-title-tw">賽璐珞鈦金屬混合鏡框</h2>
          <div class="section-product d-flex">
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-1.png" alt="product1">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-2.png" alt="product2">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-3.png" alt="product3">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-4.png" alt="product4">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-5.png" alt="product5">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-6.png" alt="product6">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-1.png" alt="product7">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="section-column">
              <div class="section-card d-flex">
                <img src="../assets/images/product-2.png" alt="product8">
                <div class="section-card-intro d-flex">
                  <p class="section-card-name">BJ41600S</p>
                  <p class="section-card-price">NTD3,490</p>
                </div>
                <div class="section-card-color d-flex">
                  <div class="section-box-a"></div>
                  <div class="section-box-b"></div>
                </div>
              </div>
            </div>
          </div>
        </div>            
      </div>
      <div class="product-pages">
        <div class="container container-md container-sm">
          <ul class="product-pages-list d-flex">
            <li><a href="#">上一頁</a></li>
            <li><a href="#" class="page-number">1</a></li>
            <li><a href="#" class="page-number active">2</a></li>
            <li><a href="#" class="page-number">3</a></li>
            <li><a href="#" class="page-number">4</a></li>
            <li><a href="#" class="page-number">5</a></li>
            <li><a href="#">下一頁</a></li>
          </ul>
        </div>
      </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
