<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
      <div class="sun-navbar">
        <div class="container sun-navbar-container container-md container-sm">
          <ul class="sun-navbar-list d-flex">
            <li class="sun-navbar-list-item"><a href="products.html" class="sun-navbar-list-link">OPTICAL</a></li>
            <li class="sun-navbar-list-item"><a href="#" class="sun-navbar-list-link sun-navbar-list-active">SUNGLASSES</a></li>
            <li class="sun-navbar-list-item"><a href="#" class="sun-navbar-list-link">FUNCTIONAL</a></li>
          </ul>
        </div>
      </div>
      <div class="sun-banner d-flex">
        <ul class="sun-banner-list d-flex">
          <li class="sun-banner-list-item">
            <picture>
              <source srcset="../assets/images/product-header-sm-3.png" media="(max-width:767px)">
              <img src="../assets/images/product-header-3.png" alt="" class="sun-banner-list-pic"></li>
            </picture>
          <li class="sun-banner-list-item">
            <picture>
              <source srcset="../assets/images/product-header-sm-4.png" media="(max-width:767px)">
              <img src="../assets/images/product-header-4.png" alt="" class="sun-banner-list-pic"></li>
            </picture>   
        </ul>
      </div>
      <div class="sun-section">
        <div class="container sun-section-container container-md container-sm">
          <h1 class="sun-section-title-en">2020 NEW COLLECTION</h1>
          <h2 class="sun-section-title-tw">賽璐珞鈦金屬混合鏡框</h2>
          <div class="sun-section-product d-flex">
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-7.png" alt="product1">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-8.png" alt="product2">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-9.png" alt="product3">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-10.png" alt="product4">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-11.png" alt="product5">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
            <div class="sun-section-column">
              <div class="sun-section-card d-flex">
                <img src="../assets/images/product-12.png" alt="product6">
                <div class="sun-section-card-intro d-flex">
                  <p class="sun-section-card-name">BJ41600S</p>
                  <p class="sun-section-card-price">NTD3,490</p>
                </div>
                <div class="sun-section-card-color d-flex">
                  <div class="sun-section-box-a"></div>
                  <div class="sun-section-box-b"></div>
                </div>
              </div>
            </div>
       </div>
       <div class="sun-product-pages">
        <div class="container container-md container-sm">
          <ul class="sun-product-pages-list d-flex">
            <li><a href="#">上一頁</a></li>
            <li><a href="#" class="sun-page-number">1</a></li>
            <li><a href="#" class="sun-page-number active">2</a></li>
            <li><a href="#" class="sun-page-number">3</a></li>
            <li><a href="#" class="sun-page-number">4</a></li>
            <li><a href="#" class="sun-page-number">5</a></li>
            <li><a href="#">下一頁</a></li>
          </ul>
        </div>
       </div> 

     <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
